@model IEnumerable<GameStore.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.soLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonHang.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.tenSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.soLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonHang.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.tenSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
