@model IEnumerable<GameStore.Models.KhuyenMai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GiaTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DieuKienApDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DieuKienApDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKhuyenMai }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKhuyenMai }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKhuyenMai })
        </td>
    </tr>
}

</table>
